@import 'reset';
@import 'variables';
@import 'mixins';

html
{
  height: 100%;
}
body
{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: 'Open Sans';
}

.container
{
  min-height: 100vh;
  position: relative;
  &.index, &.finish
  {
    .triangle
    {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 100vh solid $darkGreen;
      border-right: 100vw solid transparent;
      transition: ease .3s;
    }
  }
  &.index
  {
    .container__index-content
    {
      display: block;
    }
  }
  &.playing
  {
    .triangle
    {
      position: absolute;
      width: 100%;
      height: 0;
      border-top: 50vh solid $darkGreen;
      border-right: 0 solid transparent;
      transition: ease .3s;
      @include responsive(991px)
      {
        border-top: 40vh solid #00a68c;
      }
      @include responsive(767px)
      {
        border-top: 35vh solid #00a68c;
      }
    }
    .container__game-content
    {
      display: block;
    }
  }
  &.finish
  {
    .container__finish-content
    {
      display: block;
    }
  }
  &.answers
  {
    .triangle
    {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 0 solid $darkGreen;
      border-right: 0 solid transparent;
      transition: ease .3s;
    }
    .container__answers-content
    {
      display: block;
    }
  }
}

/* index content */
.container__index-content
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  display: none;
  z-index: 10;
}
.title
{
  font-size: 80px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(15px);
  animation: elementFadeIn ease .3s forwards;
  @include responsive(767px)
  {
    font-size: 40px;
  }
}
.subtitle
{
  margin-top: 60px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(15px);
  animation: elementFadeIn ease .3s .1s forwards;
  @include responsive(767px)
  {
    font-size: 24px;
    margin-top: 30px;
  }
}
.subject
{
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(15px);
  animation: elementFadeIn ease .3s .2s forwards;
  @include responsive(767px)
  {
    font-size: 16px;
    margin-top: 20px;
  }
}
.button
{
  @include button;
  margin: 0 auto;
  margin-top: 120px;
  opacity: 0;
  transform: translateY(15px);
  animation: elementFadeIn ease .3s .3s forwards;
  @include responsive(991px)
  {
    font-size: 16px;
  }
  @include responsive(767px)
  {
    margin-top: 50px;
    width: 100%;
    max-width: none;
  }
}

/* game content */
.container__game-content
{
  position: relative;
  padding: 0 20px;
  padding-bottom: 30px;
  display: none;
  z-index: 10;
}
.game-head
{
  height: 50vh;
  @include responsive(991px)
  {
    height: 40vh;
  }
  @include responsive(767px)
  {
    height: 35vh;
  }
}
.question-counter
{
  padding-top: 55px;
  font-size: 24px;
  text-align: center;
  opacity: 0;
  transform: translateY(15px);
  animation: elementFadeIn ease .3s forwards;
  @include responsive(991px)
  {
    font-size: 18px;
  }
  @include responsive(767px)
  {
    padding-top: 20px;
  }
}
.question
{
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  margin-top: 100px;
  opacity: 0;
  transform: translateY(15px);
  transition: ease .3s;
  animation: elementFadeIn ease .3s .1s forwards;
  @media screen and (min-width: 992px) and (max-height: 730px)
  {
    margin-top: 60px;
    font-size: 40px;
  }
  @include responsive(991px)
  {
    font-size: 34px;
  }
  @include responsive(767px)
  {
    font-size: 24px;
    margin-top: 30px;
  }
}
.answer-options
{
  margin-top: 120px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 992px) and (max-height: 730px)
  {
    margin-top: 80px;
  }
  @media screen and (min-width: 992px) and (max-height: 630px)
  {
    margin-top: 60px;
  }
  @include responsive(991px)
  {
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @include responsive(767px)
  {
    margin-top: 30px;
  }
}
.answer-option
{
  background-color: $lightGreen;
  font-size: 16px;
  width: 230px;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transform: translateY(15px);
  transition: ease .3s;
  cursor: pointer;
  @include responsive(991px)
  {
    width: 48%;
    &:nth-child(3), &:nth-child(4)
    {
      margin-top: 30px;
    }
  }
  @include responsive(767px)
  {
    width: 100%;
    margin-top: 15px;
    &:nth-child(3), &:nth-child(4)
    {
      margin-top: 15px;
    }
  }
  &:hover
  {
    background-color: lighten($lightGreen, 15%);
  }
  &:active
  {
    background-color: darken($lightGreen, 15%);
  }
  &:not(:first-of-type)
  {
    margin-left: 30px;
    @include responsive(991px)
    {
      margin-left: 0;
    }
  }
  &.active
  {
    background-color: darken($lightGreen, 20%);
  }
  &:nth-child(1)
  {
    animation: elementFadeIn ease .3s .2s forwards;
  }
  &:nth-child(2)
  {
    animation: elementFadeIn ease .3s .3s forwards;
  }
  &:nth-child(3)
  {
    animation: elementFadeIn ease .3s .4s forwards;
  }
  &:nth-child(4)
  {
    animation: elementFadeIn ease .3s .5s forwards;
  }
}
@keyframes elementFadeIn
{
  0%
  {
    opacity: 0;
    transform: translateY(15px);
  }
  100%
  {
    opacity: 1;
    transform: translateY(0);
  }
}
.next
{
  @include button;
  margin: 0 auto;
  margin-top: 100px;
  opacity: 0;
  transform: translateY(15px);
  transition: ease .3s;
  animation: elementFadeIn ease .3s .6s forwards;
  @media screen and (min-width: 992px) and (max-height: 730px)
  {
    margin-top: 60px;
  }
  @media screen and (min-width: 992px) and (max-height: 630px)
  {
    margin-top: 40px;
  }
  @include responsive(991px)
  {
    font-size: 16px;
  }
  @include responsive(767px)
  {
    margin-top: 30px;
  }
}

/* finish content */
.container__finish-content
{
  padding: 30px 20px;
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: none;
  z-index: 10;
}
.finish__title
{
  margin-top: 50px;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(15px);
  animation: elementFadeIn ease .3s forwards;
  @include responsive(767px)
  {
    font-size: 40px;
  }
}
.finish__subtitle
{
  font-weight: 600;
  font-size: 55px;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(15px);
  animation: elementFadeIn ease .3s .1s forwards;
  @include responsive(767px)
  {
    font-size: 30px;
    margin-top: 30px;
  }
}
.finish__percent, .finish__result
{
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  transform: translateY(15px);
  @include responsive(767px)
  {
    font-size: 20px;
    margin-top: 20px;
  }
}
.finish__percent
{
  animation: elementFadeIn ease .3s .2s forwards;
}
.finish__result
{
  animation: elementFadeIn ease .3s .3s forwards;
}
.finish__buttons
{
  margin-top: 120px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 992px) and (max-height: 730px)
  {
    margin-top: 100px;
  }
  @media screen and (min-width: 992px) and (max-height: 700px)
  {
    margin-top: 80px;
  }
  @include responsive(767px)
  {
    margin-top: 50px;
    flex-direction: column;
  }
}
.finish__button
{
  @include button;
  opacity: 0;
  transform: translateY(15px);
  @include responsive(991px)
  {
    font-size: 16px;
  }
  @include responsive(767px)
  {
    width: 100%;
  }
  &:first-of-type
  {
    animation: elementFadeIn ease .3s .4s forwards;
  }
  &:last-of-type
  {
    margin-left: 150px;
    animation: elementFadeIn ease .3s .5s forwards;
    @include responsive(767px)
    {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

/* answers content */
.container__answers-content
{
  padding: 60px 40px;
  display: none;
  @include responsive(767px)
  {
    padding: 30px 20px;
  }
}
.answers__list
{
  counter-reset: answer;
}
.answers__item
{
  counter-increment: answer;
  &:not(:first-of-type)
  {
    margin-top: 25px;
    @include responsive(767px)
    {
      margin-top: 20px;
    }
  }
  .answers__question
  {
    &::before
    {
      content:counter(answer) '. ';
    }
  }
}
.answers__question
{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  @include responsive(767px)
  {
    font-size: 18px;
  }
}
.answers__correct-answer
{
  font-size: 18px;
  margin-top: 10px;
  padding-left: 5px;
  line-height: 1.2;
}
.answers__correct-answer
{
  &::before
  {
    display: inline-block;
    vertical-align: middle;
    content: '';
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
    margin-right: 10px;
  }
}
.answers__button
{
  margin-top: 50px;
  @include button;
  opacity: 0;
  transform: translateY(15px);
  animation: elementFadeIn ease .3s forwards;
  @include responsive(991px)
  {
    font-size: 16px;
  }
  @include responsive(767px)
  {
    margin-top: 30px;
    width: 100%;
  }
}
